<%# add navigation links to this file %>
<!--<li>-->
<%#= link_to 'About', page_path('about') %>
<!--</li>-->
<li><%= link_to 'Players', players_path %></li>
<li><%= link_to 'Draft', ownerships_draft_path %></li>
<li><%= link_to 'Pick', ownerships_pick_path %></li>
